/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font faces */
@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/SF-Pro-Text-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/fonts/SF-Pro-Text-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Font Face for Lazy Script */
@font-face {
  font-family: 'Lazy Script';
  src: url('/fonts/Lazy Script.woff2') format('woff2'),
       url('/fonts/Lazy Script.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/ebgaramond/v31/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7e8QL9wU6ingQ.woff2') format('woff2');
  unicode-range: U+0000-00FF;
}

.mac-scroll-container::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
  background: transparent !important;
}

.mac-scroll-container {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
  -webkit-overflow-scrolling: touch;
}

.no-drag {
  -webkit-user-drag: none;
  user-select: none;
}

.mac-scroll-container::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.mac-scroll-container::-webkit-scrollbar-track {
  background: transparent;
}

.mac-scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5);
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

.mac-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.7);
}

/* Add momentum scroll for iOS */
.mac-scroll-container {
  -webkit-overflow-scrolling: touch;
}

/* Hidden scrollbar when inactive */
.mac-scroll-container.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Custom utilities */
@layer utilities {
  /* Notes lined paper background */
  .notes-lined-bg {
    background-color: white;
    background-image: linear-gradient(#ededed 1px, transparent 1px);
    background-size: 100% 1.5rem;
    line-height: 1.5rem;
    position: relative;
  }

  /* Grid background */
  .bg-grid {
    background-color: #f7f5f5;
    background-image: linear-gradient(90deg, rgba(122, 133, 139, 0.1) 1px, transparent 1px),
                      linear-gradient(rgba(121, 124, 126, 0.1) 1px, transparent 1px);
    background-size: 36px 36px;
  }
}