@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Face for Lazy Script */
@font-face {
  font-family: 'Lazy Script';
  src: url('/fonts/Lazy Script.woff2') format('woff2'),
       url('/fonts/Lazy Script.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/ebgaramond/v31/SlGFmQSNjdsmc35JDF1K5GRwUjcdlttVFm-rI7e8QL9wU6ingQ.woff2') format('woff2');
  unicode-range: U+0000-00FF;
}

/* Custom utility for grid background */
@layer utilities {
  .bg-grid {
    background-color: #f7f5f5;
    background-image: linear-gradient(90deg, rgba(122, 133, 139, 0.1) 1px, transparent 1px),
                      linear-gradient(rgba(121, 124, 126, 0.1) 1px, transparent 1px);
    background-size: 36px 36px;
  }
}